body{
  background: red;
  background: linear-gradient(to top,#4d0000,#660000,#800000,#990000,#b30000,#cc0000,#e60000,#ff0000,#ff0000, #e60000, #cc0000,#b30000,#990000,#800000,#660000,#4d0000);
}
header{
}
header img{
  width:80px;
  height:80px;
}
header p{
  color: #fff000;
  position: relative;
  left: 450px;
  top: -60px;
  font-size: 2em;
  text-shadow: 3px 4px 5px cyan;
}
.Contact{
    background-color: Green;
}ul{
  list-style-type: none;
  padding: 0.5%;
  margin-left: 60%;
  display: flex;
  flex-direction: row-reverse;
}
li a{
  text-decoration: none;
  margin-top:-25px;
  color:pink;
  padding: 10px 30px;
  color:white;
  font-size: 18px;
}
.comment{
  width:100%;
}
input[type=button]{
  background: lightgreen;
  border:2px solid green;
}
input[type=text]{
  border:2px solid green;
}
li:hover a{
  background:violet;
  color:indigo;
}
section article img{
  width:600px;
  height:600px;
}
section{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  margin-left: 30px;
  font-style: italic;
}
.nik{
  border-radius: 60%;
  height:500px;
  width:450px;
}

article img{
  height: 55px;
  width: 55px;
  border-radius: 50%;
  transition-duration: 2s ;
}
article img:hover{
  transform: rotate(360deg);
}
footer{
  border: 1px solid violet;
  color: white;
  padding: 1.5%;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
body{
  font-size: 20px;
  font-style: italic;
  color: snow;
}
legend{
  text-align: center;
  color: black;
}
input[type=submit] {
    width: 10%;
    background-color:green;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=reset]{
  width: 10%;
  background-color:green;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=text], select {
    width: 50%;
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    box-sizing: border-box;
}

@media (max-width: 650px){
ul{display: flex;
  flex-direction: column-reverse;
  margin-left: 0;
}
header p{
  margin-left: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
ul li{
  padding: 3%;
}
section{
  display: flex;
  flex-direction: column;
  width:100%;
}

input[type=submit]{
  width: 50%;
}

  input[type=reset]{
    width: 50%;
}

footer{
  display: flex;
  flex-direction: column;
}

}
